---
---

@import "{{ site.theme }}";

body section.page-header {
    padding: 0px;
}

th.CUR, td.CUR, td.arrow:hover {
    background-color: #daef9b;
    font-weight: bold;
}

table.navbar {
    display: table;
}

table.navbar td {
    text-align: center;
}

div.tutorialRef {
  margin: 5px;
  padding: 5px;
  border: thin solid black;
  width: 100%;
  text-align: center;
}

.main-content hr {
  background-color: navy;
  margin: 8px 2px;
  height: 6px;
}

div.todo {
  color: red;
  font-weight: bold;
  font-size: 1.5 em;
  margin: 0 20px;
}

.main-content h2, .main-content h1 {
  margin-above: 15px;
  margin-below: 10px;
  border-bottom: 4px solid navy;
}

.main-content h3 {
  margin-above: 15px;
  margin-below: 10px;
  border-bottom: 2px solid navy;
}

.main-content {
  max-width: unset;
}
